html {
   font-family: 'Raleway', sans-serif;
   color: #F4F7F5;
   background-color: #474345;
 }

.nav-wrapper{
  background-color: #474345;
}

#title{
  font-size: 20px;
  padding-left: 10px;
}

/*#homeBarHeader{
  background-color: #A7A2A9;
}

#homeBarMain{
  background-color: #A7A2A9;
}*/



img{
  height: 30px;
  width: 30px;
  color: #F4F7F5;
  padding: 5px;
}
